/*#region computer*/
@media screen and (min-width: 768px) {

    .help-div {
        text-align: justify;
        padding-left: 20%;
        padding-right: 20%;
    }

    .help-text {
        font-size: 20px;
        vertical-align: top;
        text-overflow: ellipsis;
        text-align: justify;
        margin-left: 5px;
        margin-right: 5px;
    }

    .help-img-left, .help-img-right {
        width: 450px;
        height: 300px;
        display: inline-flex;
        vertical-align: center;

    }

    .help-img-right {
        float: right;
        margin: 10px 20px 20px 10px;
    }

    .help-img-left {
        float: left;
        margin: 10px 10px 20px 20px;
    }

    .help-question {
        table-layout: revert;
        width: 80%;
        margin-bottom: 50px;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        background-color: #f2e1ba;
    }
    .help-question > tr > th > h2
    {
        margin-left: 5px;
        margin-right: 5px;
    }

    .subtitle
    {
        margin-top: 50px;
    }
}
/*#endregion computer*/

/*#region mobile*/
@media screen and (max-width: 768px)
{
    .help-div {
        text-align: justify;
        padding-left: 5%;
        padding-right: 5%;
    }

    .help-text {
        float: left;
        font-size: 17px;
        vertical-align: top;
        text-overflow: ellipsis;
        text-align: justify;
        margin-left: 5px;
        margin-right: 5px;
    }

    .help-img-left, .help-img-right {
        width: 270px;
        height: 170px;
        display: inline-flex;
        vertical-align: center;
    }

    .help-img-right {
        float: right;
        margin: 10px 20px 20px 10px;
    }

    .help-img-left {
        float: left;
        margin: 10px 10px 20px 20px;
    }

    .help-question{
        width: 90%;
        alignment: center;
        position: center;
        margin-bottom: 50px;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        table-layout: auto;
        background-color: #f2e1ba;
    }

    .help-question > tr > th > h2
    {
        font-size: 23px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .subtitle
    {
        margin-top: 50px;
    }
}

/*#endregion mobile*/

