.home-div{
    max-height: 90vh;
    border-top: 1px solid black;
}

.filter-div{
    padding-top: 10px;
    background-color: aliceblue;
    border-bottom: 1px solid black;
}

.map-div {
    /*border: 1px solid blue;*/
    width: 71.8%;
    float:left;
    height: 90vh;
    max-height: 90vh;
}
.poi-list-div {
    border: 1px solid #ffffff;
    background-color: white;
    padding: 1px;
    float:right;
    width: 28%;
    max-height: 90vh;
    overflow: auto;
}
.poi-list{
    list-style-type: none;
    text-align: left;
}

.map-image{
    max-width: 100%;
}

