.home-div{
    max-height: 90vh;
    border: 1px solid green;
}

.map-div {
    border: 1px solid blue;
    padding: 1px;
    width: 71.8%;
    float:left;
    max-height: 100%;
}
.poi-list-div {
    border: 1px solid red;
    padding: 1px;
    float:right;
    width: 28%;
    max-height: 100%;
}
.poi-list{
    list-style-type: none;
    text-align: left;
}

.map-image{
    max-width: 100%;
}


