.div-manage{
    text-align: left;
    padding: 10px;
    max-height: 85vh;
    overflow: auto;
}
.div-tab{
    box-sizing: border-box;
    padding: 5px;
}

.filter-div{
    padding-top: 10px;
    border-bottom: 1px solid black;
}